<header>
    <nav class="navbar navbar-toggleable-md navbar-light align-items-center justify-content-between flex-row">
        <div>
            <a class="text-white navbar-brand" [routerLink]="['/app/home']">{{title}}</a>
        </div>
        <div class="navbar-collapse">
            <div class="navbar-nav flex-row">
                <a class="text-white nav-item nav-item nav-link" routerLinkActive="active" [routerLink]="['/app/home']">Home <span class="sr-only">(current)</span></a>
            </div>
        </div>
        <div class="navbar-collapse ml-auto">
            <div class="navbar-nav flex-row">
                <a class="text-white nav-item nav-link" routerLinkActive="active" [routerLink]="['/app/history']">History <span class="sr-only">(current)</span></a>
                <a class="text-white nav-item nav-link" routerLinkActive="active" [routerLink]="['/about']">About</a>
            </div>
        </div>
    </nav>
</header>