.download-link-img {
    max-width: 200px;
}

.login-container,
.signup-container {
    &>div {
        height: 100vh;
    }
    .login-panel,
    .signup-panel {
        box-shadow: 0px 0px 2px 2px #999999;
        -moz-box-shadow: 0px 0px 2px 2px #999999;
        -webkit-box-shadow: 0px 0px 2px 2px #999999;
        max-width: 350px;
        width: 100%;
    }
}