<div class="login-container">
    <div class="d-flex align-items-center justify-content-center flex-wrap">
        <div class="text-center mr-5">
        </div>
        <div class="login-panel ml-5">
            <loader></loader>
            <div class="p-5">
                <div class="text-center mb-4">
                    <h6>Forgot Password</h6>
                    <label>Already have an account? <a [routerLink]="['/login']">Login</a></label>
                </div>
                <form>
                    <div class="form-group">
                        <!--<label for="username">Mobile Number/Email</label>-->
                        <input type="text" class="form-control" id="username" placeholder="Mobile number/Email address">
                    </div>
                    <button class="btn btn-primary btn-block">Request OTP</button>
                </form>
            </div>
        </div>
        <div></div>
    </div>
</div>