<div class="login-container">
    <div class="d-flex flex-column align-items-center justify-content-center flex-wrap">
        <div class="login-panel ml-5">
            <loader [showLoader]="showLoader"></loader>
            <div class="p-5">
                <div class="text-center mb-4">
                    <h4 class="mb-3">{{title}} Login</h4>
                </div>
                <form #f="ngForm" (ngSubmit)="login()">
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" id="username" [(ngModel)]="data.phonenumber" placeholder="Mobile number/Email address" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="data.password" placeholder="Password" />
                    </div>
                    <button class="btn btn-primary btn-block" [disabled]="isLoginDisabled()" type="submit">
                        Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>