.card-initialBox {
    border-radius: 50%;
    border: 1px solid #FF6D6B;
    font-size: 80px;
    padding: 0px;
    line-height: 150px;
    color: #FF6D6B;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 0px auto 20px auto;
}