.player-backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #000000;
}

.player-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    .center-play,
    .video-container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0px;
    }
    .video-container {
        video {
            width: 100%;
        }
        .controls {
            height: 50px;
            background-color: #909090;
            width: 100%;
            position: fixed;
            bottom: 0px;
            z-index: 1000;
            opacity: 0.8;
            &.hide-controls {
                visibility: hidden;
                opacity: 0;
                transition: visibility 0.5s, opacity 0.5s linear;
            }
            .play-pause {
                width: 5%;
                min-width: 24px;
            }
            .progress {
                width: 80%;
                background-color: transparent;
                progress {
                    border-radius: 0px;
                    width: 100%;
                    color: #f0f0f0;
                    font-size: .6em;
                    line-height: 1.5em;
                    text-indent: .5em;
                    height: 1.8em;
                    border: 1px solid #f0f0f0;
                    background: transparent;
                    &::-webkit-progress-value {
                        background: #f0f0f0;
                    }
                    &::-webkit-progress-bar {
                        background: none;
                    }
                }
            }
            .time {
                width: 10%;
                min-width: 30px;
            }
            .close {
                width: 5%;
                min-width: 30px;
            }
        }
    }
}