<div class="player-backdrop"></div>
<div class="player-container">
    <div class="d-flex video-container justify-content-center align-items-center">
        <video #video (timeupdate)="durationChangeEventHandler($event)">
            <source src="{{item.contents[0].url}}" type="video/{{item.contents[0].format}}" >
            Your browser does not support HTML5 video.
        </video>
        <div class="controls p-1 d-flex flex-row justify-content-center align-items-center">
            <div class="play-pause pl-3">
                <a (click)="playPause(video)"><i class="text-white  fa fa-2x" [ngClass]="{'fa-play': video.paused, 'fa-pause': !video.paused}"></i></a>
            </div>
            <div class="progress">
                <progress id='p' max='100' value='{{videoPercent}}'></progress>
            </div>
            <div class="time pl-3">
                <span *ngIf="currentTime && duration" class="text-white">{{currentTime}}/{{duration}}</span>
            </div>
            <div class="close">
                <a (click)="close()"><i class="text-white fa fa-close fa-2x"></i></a>
            </div>
        </div>
    </div>
</div>